body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,hgroup { 
    margin:0;
    padding:0;
    outline: none;
    border: none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}

.hidden {
    display: none;
}

.link:hover {
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
}

body {
    font: 13px Arial, sans-serif;
    color: #303030;
}

a {
    font-weight: bold;
    color: #2c3646;
    text-decoration: none;
}
